body {
    background-color:#607B9B;
    color:white;
    /* margin:0px; */
}
#topbar {
    display:flex;
    justify-content: center;
    margin-bottom:40px;
    margin-top:20px;
    width:1350px;
}

#heading-div{
    font-size: 35px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    border-bottom:2px solid transparent;
    transition:0.5s;
}
#heading-div:hover{
    font-size:40px;
    border-bottom:2px solid #121212;
}
@keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #00b8ff, 0 0 15px #00b8ff, 0 0 20px #00b8ff, 0 0 25px #00b8ff, 0 0 30px #00b8ff;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 5px #00415a, 0 0 10px #00415a, 0 0 15px #00415a, 0 0 20px #00415a, 0 0 25px #00415a, 0 0 30px #00415a;
    }
}

#brief-intro{
    color:#FBFFFF;
    font-size:20px;
    margin-left:10px;
    margin-right:10px;
    transition:0.5s;
    padding:10px 10px 10px 10px;
    border:2px solid transparent;
    width: 752px

}

#brief-intro:hover{
    font-size:25px;
    border:2px solid #121212;
    
}

#sidebar {
    width:40px;
    height:200px;
    position:fixed;
    top: 245px;
    right:0px;
}

.navbar {
    width:50%;
    display:flex;
    justify-content: space-between;
    margin-left:300px;
}

.navbar a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color:#FBFFFF;
    border:2px solid transparent;
    transition:0.5s;
}

.navbar a:hover{
    border-bottom:2px solid #121212;

}